:root {
  --main-bg-color:#27365f;
  --main-text-color:#f4f4f2;
  --light-accent-color:#aeafb4;
  --dark-accent-color:#8f7987;
  --eye-popper-color:#ee6f53;
}


body{
  background-color: var(--main-bg-color);
  padding:0;
  margin:0;
  color:var(--main-text-color)
}
.App {
  text-align: center;
  margin: 0;
  padding: 0;
}
.comparisonContainer{
  background-color:none;
  border-radius: 10px;
  display: inline-flex;
  align-content: center;
}
.ComparisonComponent{
  padding:10px;
}
.CompareImage{
  height:250px;
}
.submitButton{
  border:0px;
  background-color: var(--eye-popper-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 5px; 
  margin:10px;
  border-radius: 3px;
}
.Header{
  margin:0;
  padding:0;
  width:100%;
  background-color:#111B36;
  color:var( --light-accent-color);
}
.HeaderText{
  color:var( --light-accent-color);
  margin:0;
  padding:5px;
}
.left{
  text-align: left;
  width:70%;
  vertical-align:middle;
}
.right{
  text-align: right;
  width:30%;
  margin:auto;
  vertical-align:middle;
}
.right button{
  height:100%;
  margin:0;
  padding:10px;
  border:0px;
  background-color: inherit;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 10px; 
  color:var(--light-accent-color);
}
.left, .right {
  display: inline-block;
}
.BookOrMovieComponent{
  padding:15px;
}
.ComparisonTitle{
 background-color:#111B36;
  align-content: center;
  padding-top:10px;
  margin:auto;
  width:80%;
  border-radius:5px;
}
.SearchContainer{
  padding:10px;
  display:flex;
  justify-content:center;
  align-items:center;
}
.textInput{
  width: 260px;
  text-align: center;
}
.Results{
  margin: 10px;
}